
<form #circuitForm="ngForm" (ngSubmit)="onSubmit()" class="form-container" *ngIf="selectedTab !== 'mutants'">
  <div class="form-group">
    <label for="circuitName">NAME</label>
    <input 
      class="name-input"
      type="text" 
      id="circuitName" 
      name="circuitName" 
      [(ngModel)]="circuitName" 
      class="form-control"
      placeholder="QProgram name"
      required>
  </div>
      
  <div class="form-group">
    <div class = "circuit-code">

      <label for="quirkCode" style="margin-top: 12px;">QUIRK CODE</label>

      <button 
          type="button" 
          class="visualize-btn"
          (click)="visualizeCircuit()">
          Visualize Circuit
        </button>
    </div>
    
    <div class="quirk-container">
      <textarea 
        id="quirkCode" 
        name="quirkCode" 
        [(ngModel)]="quirkCode"
        placeholder="Paste Quirk code here"
        class="quirk-textarea"
        required></textarea>

      
    </div>

  </div>

</form>
