<div class="tabs">
  <button class="tab" [class.active]="selectedTab === 'circuit'" (click)="selectTab('circuit')">
    CIRCUIT
  </button>
  <button class="tab" 
          [disabled]="!isCircuitValid" 
          [class.active]="selectedTab === 'mutants'" 
          (click)="selectTab('mutants')">
    GENERATE MUTANTS
  </button>
</div>

<div *ngIf="selectedTab === 'circuit'">
  <app-circuit (validityChange)="isCircuitValid = $event"></app-circuit>
</div>

<div *ngIf="selectedTab === 'mutants'">
  <app-operators></app-operators>
</div>

